<?php
$db_host = 'localhost';
$db_user = 'wienerlinien';
$db_pass = '';
$db_name = 'wienerlinien';

$db_user_long = 'wienerlinien_dev_long';
$db_pass_long = '';

$cache_expiration = 79200;
$cache_expiration_disruptions = 50;
$debug = false;

$wl_api_key = '';

$email_from = 'from@example.com';
$report_email = 'to@example.com';

$twitter = array(
	1 => array(	'twitter_consumer_key' => '',
			'twitter_consumer_secret' => '',
			'twitter_oauth_token' => '',
			'twitter_oauth_token_secret' => '',
			'twitter_username' => ''),
	2 => array(	'twitter_consumer_key' => '',
			'twitter_consumer_secret' => '',
			'twitter_oauth_token' => '',
			'twitter_oauth_token_secret' => '',
			'twitter_username' => ''),
	3 => array(	'twitter_consumer_key' => '',
			'twitter_consumer_secret' => '',
			'twitter_oauth_token' => '',
			'twitter_oauth_token_secret' => '',
			'twitter_username' => ''),
);

$twitter_hashtag = '#wlvi';

$memcached_servers = array(
	array('ip' => '127.0.0.1', 'port' => '11211')
);
$memcached_prefix = 'wienerlinien';

$download_failure_wait_times = array(10, 30, 60);

$disruptions_lockfile = '/tmp/wienerlinien_disruptions.lock';

$home_url = 'https://rueckgr.at/wienerlinien/';

$warning_period = 70;
$critical_period = 140;

