<?php
$db_host = 'localhost';
$db_user = 'wienerlinien';
$db_pass = '';
$db_name = 'wienerlinien';

$cache_expiration = 86400;
$debug = false;

$wl_api_key = '';

$email_from = 'from@example.com';
$report_email = 'to@example.com';

$twitter = false;
$twitter_consumer_key = '';
$twitter_consumer_secret = '';
$twitter_oauth_token = '';
$twitter_oauth_token_secret = '';

$semaphore_id = '';
$parallel_api_calls = 10;

