<?php
$db_host = 'localhost';
$db_user = 'wienerlinien';
$db_pass = '';
$db_name = 'wienerlinien';

$cache_expiration = 86400;
$debug = false;

$wl_api_key = '';

$email_from = 'from@example.com';
$report_email = 'to@example.com';

$twitter = false;
$consumer_key = '';
$consumer_secret = '';
$oauth_token = '';
$oauth_token_secret = '';

