html {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}
body.centered_page {
	background-color: #aaa;
	margin: 20px;
}
div.main_pane {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	border: 1px solid #666;
	padding: 10px;
}
a {
	text-decoration: none;
	color: #417394;
}
a:hover {
	color: red;
}
a:visited {
	color: #417394;
}
body.map {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body.station, body.line {
}
#map_canvas {
	height: 100%;
}
#options_pane {
	margin: 8px;
	line-height: 1.2em;
}
div.rbl {
	margin-bottom: 1em;
}
table.rbl_info {
	width: 500px;
	background-color: gray;
	padding: 10px;
	font-weight: bold;
	font-family: monospace;
}
table.rbl_info tr > td {
	width: 70%;
	text-align: left;
	color: yellow;
	background-color: black;
	padding: 3px;
}
table.rbl_info tr > td a {
	color: yellow;
}
table.rbl_info tr > td:first-child {
	width: 15%;
}
table.rbl_info tr > td:last-child {
	width: 15%;
	text-align: right;
}
div.route {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	background-image: url(route.png);
}
div.route_station {
	background-image: url(station_intermediate.png);
}
div.route_first {
	background-image: url(station_first.png);
}
div.route_last {
	background-image: url(station_last.png);
}
div.route_details {
	line-height: 10px;
	padding-bottom: 2em;
}
a.show_link, a.hide_link {
	display: none;
}
div.description {
	padding-top: 1em;
}
last_update > img,
last_update > a {
	display: none;
	padding-left: 10px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui-widget { font-size: .9em; }

#filter_fieldset { display: none; }

